<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Find The Hacker - Scenario</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="desc-page"></body>
<!-- 페이지 상단 가운데 위치할 타이틀 이미지 -->
<div class="desc-title">
  <img src="{{ url_for('static', filename='img/title_desc.png') }}" alt="Scenario Title">
</div>

  <img id="btn-start" src="{{ url_for('static', filename='img/btn-start.png') }}" id="GameStart">

  <div class="desc_container">
    <!-- 기본 이미지로 scenario.png 설정 -->
    <img id="scenarioImage"
     src="{{ url_for('static', filename='img/scenario.png') }}"
     data-default="{{ url_for('static', filename='img/scenario.png') }}"
     class="scenario-img">

    <!-- 캐릭터 섹션 -->
    <div class="desc-characters">
      <img src="{{ url_for('static', filename='img/Juingong_jump.svg') }}" class="character" id="char3" 
           data-intro="{{ url_for('static', filename='img/Juingong_introduce.png') }}" 
           onmouseover="changeScenarioImage(this)" onmouseout="resetScenarioImage()">
      <img src="{{ url_for('static', filename='img/Nah_jump.svg') }}" class="character" id="char5" 
           data-intro="{{ url_for('static', filename='img/Nah_introduce.png') }}" 
           onmouseover="changeScenarioImage(this)" onmouseout="resetScenarioImage()">
      <img src="{{ url_for('static', filename='img/Choi_jump.svg') }}" class="character" id="char2" 
           data-intro="{{ url_for('static', filename='img/Choi_introduce.png') }}" 
           onmouseover="changeScenarioImage(this)" onmouseout="resetScenarioImage()">
      <img src="{{ url_for('static', filename='img/Noh_jump.svg') }}" class="character" id="char6" 
           data-intro="{{ url_for('static', filename='img/Noh_introduce.png') }}" 
           onmouseover="changeScenarioImage(this)" onmouseout="resetScenarioImage()">
      <img src="{{ url_for('static', filename='img/Jung_jump.svg') }}" class="character" id="char4" 
           data-intro="{{ url_for('static', filename='img/Jung_introduce.png') }}" 
           onmouseover="changeScenarioImage(this)" onmouseout="resetScenarioImage()">
      <img src="{{ url_for('static', filename='img/Yoon_jump.svg') }}" class="character" id="char8" 
           data-intro="{{ url_for('static', filename='img/Yoon_introduce.png') }}" 
           onmouseover="changeScenarioImage(this)" onmouseout="resetScenarioImage()">
      <img src="{{ url_for('static', filename='img/Bae_jump.svg') }}" class="character" id="char1" 
           data-intro="{{ url_for('static', filename='img/Bae_introduce.png') }}" 
           onmouseover="changeScenarioImage(this)" onmouseout="resetScenarioImage()">
      <img src="{{ url_for('static', filename='img/Professor_chim_jump.svg') }}" class="character" id="char7" 
           data-intro="{{ url_for('static', filename='img/Professor_chim_introduce.png') }}" 
           onmouseover="changeScenarioImage(this)" onmouseout="resetScenarioImage()">

    </div>
  </div>

  <!-- 잔디 이미지 (화면 하단 고정) -->
  <img src="{{ url_for('static', filename='img/grass.png') }}" alt="Grass" class="grass">

  <script src="{{ url_for('static', filename='js/desc.js') }}"></script>
</body>
</html>
