<!DOCTYPE html>
<head>
    <title>FindTheHacker-main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="main-title">
        <img src="{{ url_for('static', filename='img/title_desc.png') }}" alt="Main_Title">
    </div>
    <div class="main-container">
        <div class="main-note">
            <img src="{{ url_for('static', filename='img/note_main.png') }}" alt="Main_Note">
            <textarea class="note-text" placeholder="여기에 메모를 입력하세요..."></textarea>
        </div>
        
        <div class="main-characters_l">
            <div class="main-character_wrapper" data-character="bae">
                <img src="{{ url_for('static', filename='img/Bae_main.png') }}" class="main_character-img" id="char1-left">
                <div class="speech-bubble speech-left">
                    <img src="{{ url_for('static', filename='img/speech_left.png') }}" class="speech-img">
                    <div class="speech-text"></div>
                </div>
            </div>
            
            <div class="main-character_wrapper" data-character="jung">
                <img src="{{ url_for('static', filename='img/Jung_main.png') }}" class="main_character-img" id="char2-left">
                <div class="speech-bubble speech-left">
                    <img src="{{ url_for('static', filename='img/speech_left.png') }}" class="speech-img">
                    <div class="speech-text"></div>
                </div>
            </div>
            
            <div class="main-character_wrapper" data-character="nah">
                <img src="{{ url_for('static', filename='img/Nah_main.png') }}" class="main_character-img" id="char3-left">
                <div class="speech-bubble speech-left">
                    <img src="{{ url_for('static', filename='img/speech_left.png') }}" class="speech-img">
                    <div class="speech-text"></div>
                </div>
            </div>
        </div>
        
        <div class="main-characters_r">
            <div class="main-character_wrapper" data-character="noh">
                <img src="{{ url_for('static', filename='img/Noh_main.png') }}" class="main_character-img" id="char4-right">
                <div class="speech-bubble speech-right">
                    <img src="{{ url_for('static', filename='img/speech_right.png') }}" class="speech-img">
                    <div class="speech-text"></div>
                </div>
            </div>
            
            <div class="main-character_wrapper" data-character="choi">
                <img src="{{ url_for('static', filename='img/Choi_main.png') }}" class="main_character-img" id="char5-right">
                <div class="speech-bubble speech-right">
                    <img src="{{ url_for('static', filename='img/speech_right.png') }}" class="speech-img">
                    <div class="speech-text"></div>
                </div>
            </div>
            
            <div class="main-character_wrapper" data-character="yoon">
                <img src="{{ url_for('static', filename='img/Yoon_main.png') }}" class="main_character-img" id="char6-right">
                <div class="speech-bubble speech-right">
                    <img src="{{ url_for('static', filename='img/speech_right.png') }}" class="speech-img">
                    <div class="speech-text"></div>
                </div>
            </div>
        </div>
        
        <img src="{{ url_for('static', filename='img/btn-main.png') }}" id="nextButton">
    </div>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>